{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {gen_smtp, "~> 1.2"}
]}.

{project_plugins, [
    erlfmt,
    rebar3_hex,
    rebar3_ex_doc
]}.

{erlfmt, [write]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, []}
    ]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        error_handling,
        unmatched_returns
    ]},
    {plt_extra_apps, [gen_smtp, public_key]}
]}.

{hex, [
    {doc, #{provider => ex_doc}},
    {include_files, [
        <<"src">>,
        <<"include">>,
        <<"rebar.config">>,
        <<"rebar.lock">>,
        <<"README.md">>,
        <<"CHANGELOG.md">>,
        <<"LICENSE">>
    ]}
]}.

{ex_doc, [
    {source_url, <<"https://github.com/Taure/hikyaku">>},
    {extras, [
        <<"README.md">>,
        <<"CHANGELOG.md">>,
        <<"LICENSE">>
    ]},
    {main, <<"README.md">>},
    {homepage_url, <<"https://github.com/Taure/hikyaku">>},
    {api_reference, true}
]}.
